In [19]:
import requests
import pandas as pd

def download_and_convert_to_csv(url, csv_file_path):
    # Download the data from the provided link
    result = requests.get(url)
    data = result.json()

    # Create a DataFrame to store the structured data
    df = pd.DataFrame(data)

    # Convert the DataFrame to CSV format and save it to a file
    df.to_csv(csv_file_path, index=False)

    print("Data downloaded and converted to CSV successfully!")


# Specify the link and the file path for the CSV output
url = "https://data.nasa.gov/resource/y77d-th95.json"
csv_file_path = "nasa_data_file.csv"

# Call the function to download and convert the data
download_and_convert_to_csv(url, csv_file_path)

df.head()

Data downloaded and converted to CSV successfully!

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,"{'type': 'Point', 'coordinates': [6.08333, 50....",NaN,NaN
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,"{'type': 'Point', 'coordinates': [10.23333, 56...",NaN,NaN
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,"{'type': 'Point', 'coordinates': [-113, 54.216...",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",NaN,NaN
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,"{'type': 'Point', 'coordinates': [-64.95, -33....",NaN,NaN